name: Test
on:
  push:
    branches:
      - main
#  schedule:
#    - cron: '0 0 * * *'  # nightly

jobs:
  linux:
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        python-version: ["3.9", "3.10"]
      fail-fast: false
    name: Linux Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: activestorage
          environment-file: first_prototypes/environment.yml
          python-version: ${{ matrix.python-version }}
          miniforge-version: "latest"
          miniforge-variant: Mambaforge
          use-mamba: true
      - shell: bash -l {0}
        run: conda --version
      - shell: bash -l {0}
        run: python -V
      - shell: bash -l {0}
        run: |
          pip install -e .[develop]
          pytest -n 2
